@page "/Account/ForgotPasswordConfirmation"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Enlace Enviado | AdventureWorks</PageTitle>

<div class="aw-auth-wrapper">
    <div class="aw-circle-deco deco-1"></div>
    <div class="aw-circle-deco deco-2"></div>

    <div class="aw-auth-card aw-centered-card text-center">
        <div class="aw-auth-login-col">
            
            <div class="aw-success-icon-container">
                <i class="bi bi-send-check aw-success-icon"></i>
            </div>
            
            <h2 class="aw-auth-title">¡Enlace <span>Enviado</span>!</h2>
            <p class="aw-auth-subtitle" style="margin-bottom: 35px;">
                Hemos enviado las instrucciones para restablecer tu contraseña a tu correo electrónico. Por favor, revisa tu bandeja de entrada.
            </p>

            <div class="aw-action-group">
                <a href="https://mail.google.com/" target="_blank" class="aw-btn-login text-decoration-none">
                    Abrir Gmail <i class="bi bi-google"></i>
                </a>

                <div class="aw-back-link">
                    <a href="Account/Login" class="aw-forgot-link">
                        <i class="bi bi-arrow-left-short"></i> Volver al inicio de sesión
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>