@page "/Account/ResetPasswordConfirmation"
@attribute [AllowAnonymous]

<PageTitle>Contraseña Restablecida | AdventureWorks</PageTitle>

<div class="aw-auth-wrapper">
    <div class="aw-circle-deco deco-1"></div>
    <div class="aw-circle-deco deco-2"></div>

    <div class="aw-auth-card aw-centered-card text-center">
        <div class="aw-auth-login-col">
            
            <div class="aw-success-icon-container">
                <i class="bi bi-check-circle-fill aw-success-icon"></i>
            </div>
            
            <h2 class="aw-auth-title">¡Contraseña <span>Actualizada</span>!</h2>
            <p class="aw-auth-subtitle" style="margin-bottom: 35px;">
                Tu contraseña ha sido restablecida correctamente. Ya puedes acceder a tu cuenta utilizando tus nuevas credenciales.
            </p>

            <a href="Account/Login" class="aw-btn-login text-decoration-none">
                Ir al Inicio de Sesión <i class="bi bi-box-arrow-in-right"></i>
            </a>

        </div>
    </div>
</div>