@page "/CountryRegions/Create";
@attribute [Authorize(Roles = "Admin")]

@inject CountryRegionsService countryRegionsService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<div class="country-create-container">

    <!-- HEADER -->
    <div class="country-create-header">
        <div>
            <h3>Crear Country Region</h3>
            <span>Registro de nueva región</span>
        </div>
    </div>

    <EditForm Model="CountryRegion" FormName="crearCountryRegion" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <!-- FORM -->
        <div class="country-create-form">

            <!-- CÓDIGO -->
            <div class="mb-3">
                <label class="form-label"><strong>Código de país</strong></label>
                <input class="form-control"
                       type="text"
                       maxlength="3"
                       @bind-value="CountryRegion.CountryRegionCode"
                       placeholder="Ej: USA, DOM..." />
                <ValidationMessage For="(() => CountryRegion.CountryRegionCode)" />
            </div>

            <!-- NOMBRE -->
            <div class="mb-3">
                <label class="form-label"><strong>Nombre del país/región</strong></label>
                <input class="form-control"
                       type="text"
                       maxlength="50"
                       @bind-value="CountryRegion.Name"
                       placeholder="Ej: República Dominicana..." />
                <ValidationMessage For="(() => CountryRegion.Name)" />
            </div>
            
            <!-- FOOTER -->
            <div class="country-create-footer">
                <a class="btn btn-secondary bi bi-arrow-left" href="/CountryRegions/Index">
                    Volver
                </a>

                <button class="btn btn-primary bi bi-floppy" type="submit">
                    Guardar
                </button>
            </div>
        </div>

    </EditForm>

</div>


@code {
    public CountryRegion CountryRegion { get; set; } = new CountryRegion();

    protected override async Task OnInitializedAsync()
    {
    }

    public async Task Guardar()
    {
        var countryRepetido = await countryRegionsService.Buscar(CountryRegion.CountryRegionCode);
        if (countryRepetido != null)
        {
            toastService.ShowError("El código " + CountryRegion.CountryRegionCode + " ya está en uso");
            return;
        }

        var nombreRepetido = await countryRegionsService.GetList(c => c.Name.Equals(CountryRegion.Name));
        if (nombreRepetido.Any())
        {
            toastService.ShowError("El nombre " + CountryRegion.Name + " ya está en uso");
            return;
        }

        CountryRegion.CountryRegionCode = CountryRegion.CountryRegionCode.ToUpper();
        CountryRegion.ModifiedDate = DateTime.Now;
        bool guardado = await countryRegionsService.Guardar(CountryRegion);
        if (guardado)
        {
            toastService.ShowSuccess("Country Region guardado exitosamente.");
            navigationManager.NavigateTo("/CountryRegions/Index");
        }
        else
        {
            toastService.ShowError("No se pudo guardar el country region correctamente.");
        }
    }
}
