@page "/PhoneNumberType/Create";

@inject PhoneNumberTypeService phoneNumberTypeService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer


<EditForm Model="PhoneNumberType" FormName="crearPhoneNumberType" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h3>Crear PhoneNumberType</h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre</strong></label>
                    <input class="form-control" type="text" @bind-value="PhoneNumberType.Name" />
                    <ValidationMessage For="(() => PhoneNumberType.Name)" />
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/PhoneNumberType/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy" type="submit"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public PhoneNumberType PhoneNumberType { get; set; } = new PhoneNumberType();

    protected override async Task OnInitializedAsync()
    {
        PhoneNumberType.ModifiedDate = DateTime.Now;
    }

    public async Task Guardar()
    {
        bool esDuplicado = await phoneNumberTypeService.BuscarDuplicado(PhoneNumberType.Name, PhoneNumberType.PhoneNumberTypeId);
        if (esDuplicado)
        {
            toastService.ShowWarning("El nombre \"" + PhoneNumberType.Name + "\" ya esta en uso.");
            return;
        }
        bool guardado = await phoneNumberTypeService.Guardar(PhoneNumberType);
        if (guardado)
        {
            toastService.ShowSuccess("El tipo de numero de telefono fue creado exitosamente.");
            navigationManager.NavigateTo("/PhoneNumberType/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error al guardar el tipo de numero de telefono.");
        }
    }
}
