@page "/ShoppingCartItem/Edit/{Id:int}";

@using Microsoft.EntityFrameworkCore;
@using AdventureWorksDominicana.Data.Context;
@inject ShoppingCartItemService shoppingCartitemService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@inject Contexto contexto
@rendermode InteractiveServer

<EditForm Model="ShoppingCartItem" FormName="editarShoppingCartItem" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header d-flex justify-content-between">
                <h4>Editar Shopping Cart Item</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de creaci&oacute;n: </strong></label>
                    <label class="form-label">@ShoppingCartItem.DateCreated</label>
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de modificaci&oacute;n</strong></label>
                    <input class="form-control" type="datetime-local" @bind-value="ShoppingCartItem.ModifiedDate" />
                    <ValidationMessage For="(() => ShoppingCartItem.DateCreated)" />
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Producto</strong></label>
                    <InputSelect class="form-control" min="1" @bind-Value="@ShoppingCartItem.ProductId">
                        <option value="0" selected disabled hidden>Seleccione un producto...</option>
                        @foreach (var producto in ListaProductos)
                        {
                            <option value="@producto.ProductId">@producto.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => ShoppingCartItem.ProductId)" />
                </div>
                <div class="mb-3">
                    <label class="form-label"><strong>Cantidad</strong></label>
                    <input class="form-control" type="number" min="1" @bind-value="ShoppingCartItem.Quantity" placeholder="Introduzca una cantidad..." />
                    <ValidationMessage For="(() => ShoppingCartItem.Quantity)" />
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/ShoppingCartItem/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy" type="submit"> Guardar</button>
                <button class="btn btn-danger bi bi-trash" type="button" @onclick="Eliminar"> Eliminar</button>

            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; } = 0;
    ShoppingCartItem ShoppingCartItem = new();
    public List<Product> ListaProductos { get; set; } = new List<Product>();


    protected override async Task OnInitializedAsync()
    {
        var cartItem = await shoppingCartitemService.Buscar(Id);
        if (cartItem != null)
            ShoppingCartItem = cartItem;
        try
        {
            var productos = await contexto.Products.ToListAsync();
            ListaProductos = productos?.ToList() ?? new List<Product>();
        }
        catch (Exception ex)
        {
            toastService.ShowError("Ha ocurrido un error al cargar los productos.");
            ListaProductos = new List<Product>();
        }
    }
    public async Task Guardar()
    {
        bool guardado = await shoppingCartitemService.Guardar(ShoppingCartItem);
        if (guardado)
        {
            toastService.ShowSuccess("Shopping car item guardado exitosamente.");
            navigationManager.NavigateTo("/ShoppingCartItem/Index");
        }
        else
        {
            toastService.ShowError("No se pudo guardar el shopping cart item correctamente.");
        }

    }
    private async Task Eliminar()
    {
        bool eliminado = await shoppingCartitemService.Eliminar(ShoppingCartItem.ShoppingCartItemId);
        if (eliminado)
        {
            toastService.ShowSuccess("El Shopping Cart Item ha sido eliminado con exito!");
            navigationManager.NavigateTo("/ShoppingCartItem/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error al intentar eliminar el Shopping Cart Item.");
        }

    }
}

