@page "/Currency/Edit/{CurrencyCode}"
@attribute [Authorize(Roles = "Admin")]

@rendermode InteractiveServer
@inject CurrencyService CurrencyService
@inject NavigationManager NavigationManager
@inject ToastService toast

<PageTitle>Editar Moneda</PageTitle>

<div class="product-container">

    <!-- HEADER -->
    <div class="product-header">
        <div>
            <h3>Editar Moneda</h3>
            <span>Modificación de moneda existente</span>
        </div>
    </div>

    <!-- FORM -->
    <div class="product-form">
        <EditForm Model="@currency" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- SECCIÓN -->
                    <h5 class="section-title">
                        <i class="bi bi-currency-dollar"></i> Información General
                    </h5>

                    <!-- CÓDIGO -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Código de Moneda</strong></label>
                        <InputText class="form-control"
                                   @bind-Value="currency.CurrencyCode"
                                   disabled />
                    </div>

                    <!-- NOMBRE -->
                    <div class="mb-3">
                        <label class="form-label"><strong>Nombre</strong></label>
                        <InputText class="form-control"
                                   @bind-Value="currency.Name"
                                   placeholder="Ej: Peso Dominicano" />
                        <ValidationMessage For="@(() => currency.Name)" />
                    </div>

                </div>

                <!-- FOOTER -->
                <div class="card-footer text-center">

                    <a href="/Currency/Index" class="btn btn-secondary bi bi-arrow-left">
                        Volver
                    </a>

                    <button type="submit" class="btn btn-primary bi bi-floppy">
                        Modificar
                    </button>

                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string CurrencyCode { get; set; } = null!;

    private Currency currency = new Currency();

    protected override async Task OnInitializedAsync()
    {
        currency = await CurrencyService.Buscar(CurrencyCode);
        
        if (currency == null)
        {
            toast.ShowError("No se encontró la moneda especificada.");
        }
    }

    private async Task Guardar()
    {
        if (currency != null)
        {
            var guardo = await CurrencyService.Guardar(currency);
            
            if (guardo)
            {
                toast.ShowSuccess("Moneda actualizada correctamente.");

            }
            else
            {
                toast.ShowError("Hubo un error al intentar actualizar la moneda.");
            }
        }
    }

}