@page "/UnitMeasure/Create"

@inject UnitMeasureService unitMeasureService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<div class="unitmeasure-create-container">

    <!-- HEADER -->
    <div class="unitmeasure-create-header">
        <div>
            <h3>Crear Unidad de Medida</h3>
            <span>Registro de nuevas unidades</span>
        </div>
    </div>

    <!-- FORM -->
    <div class="unitmeasure-create-form">
        <EditForm Model="UnitMeasure" FormName="crearUnitMeasure" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- SECCIÓN -->
                    <h5 class="section-title">
                        <i class="bi bi-rulers"></i> Información General
                    </h5>

                    <!-- CÓDIGO -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Código (Máx 3 Caracteres)</strong>
                        </label>

                        <input class="form-control"
                               type="text"
                               maxlength="3"
                               @bind="UnitMeasure.UnitMeasureCode"
                               placeholder="Ej: LBS, KG, CM..." />

                        <ValidationMessage For="(() => UnitMeasure.UnitMeasureCode)" />
                    </div>

                    <!-- NOMBRE -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Nombre descriptivo</strong>
                        </label>

                        <input class="form-control"
                               type="text"
                               maxlength="50"
                               @bind="UnitMeasure.Name"
                               placeholder="Ej: Libras" />

                        <ValidationMessage For="(() => UnitMeasure.Name)" />
                    </div>

                </div>

                <!-- FOOTER -->
                <div class="card-footer text-center">

                    <a class="btn btn-secondary bi bi-arrow-left" href="/UnitMeasure/Index">
                        Volver
                    </a>

                    <button class="btn btn-primary bi bi-floppy" type="submit">
                        Guardar
                    </button>

                </div>
            </div>
        </EditForm>
    </div>

</div>

@code {
    public UnitMeasure UnitMeasure { get; set; } = new UnitMeasure();

    public async Task Guardar()
    {
        if (await unitMeasureService.Existe(UnitMeasure.UnitMeasureCode))
        {
            toastService.ShowWarning("Este código de unidad ya existe.");
            return;
        }

        bool guardado = await unitMeasureService.Guardar(UnitMeasure);
        if (guardado)
        {
            toastService.ShowSuccess("Unidad guardada correctamente.");
            navigationManager.NavigateTo("/UnitMeasure/Index");
        }
        else
        {
            toastService.ShowError("Error al guardar la unidad.");
        }
    }
}
