@page "/Location/Create"
@inject NavigationManager navigationManager
@inject ToastService toastService
@inject LocationService locationService
@rendermode InteractiveServer

<PageTitle>Crear Ubicación</PageTitle>

<Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

<EditForm Model="location" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4 class="mb-0">Registro de Ubicación</h4>
            </div>
            <div class="card-body">
                
                <div class="mb-3">
                    <label class="form-label fw-bold">ID de Ubicación</label>
                    <InputNumber class="form-control" @bind-Value="location.LocationId" />
                    <ValidationMessage For="() => location.LocationId" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Nombre</label>
                    <InputText class="form-control" @bind-Value="location.Name" maxlength="50" />
                    <ValidationMessage For="() => location.Name" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Tarifa de Costo</label>
                    <InputNumber class="form-control" @bind-Value="location.CostRate" />
                    <ValidationMessage For="() => location.CostRate" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Disponibilidad</label>
                    <InputNumber class="form-control" @bind-Value="location.Availability" />
                    <ValidationMessage For="() => location.Availability" />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Fecha de Modificación</label>
                    <InputDate class="form-control" @bind-Value="location.ModifiedDate" />
                    <ValidationMessage For="() => location.ModifiedDate" />
                </div>

                @if (!string.IsNullOrWhiteSpace(mensaje))
                {
                    <div class="alert alert-danger">
                        @mensaje
                    </div>
                }
            </div>
            <div class="card-footer text-center d-flex justify-content-center gap-3">
                <a class="btn btn-secondary d-flex align-items-center gap-2" href="/Location/Index">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
                <button type="submit" class="btn btn-primary d-flex align-items-center gap-2">
                    <i class="bi bi-floppy"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Location location { get; set; } = new();
    private string mensaje = string.Empty;

    protected override void OnInitialized()
    {
        location.ModifiedDate = DateTime.Now;
    }

    private async Task Guardar()
    {
        mensaje = string.Empty;

        var isDuplicated = await locationService.GetList(l => l.Name.ToLower() == location.Name.ToLower());

        if (isDuplicated.Any())
        {
            mensaje = $"Ya existe una ubicación registrada con el Nombre ({location.Name}).";
            return;
        }

        location.ModifiedDate = DateTime.Now;

        try
        {
            if (await locationService.Guardar(location))
            {
                toastService.ShowSuccess($"Ubicación {location.Name} guardada correctamente.");
                navigationManager.NavigateTo("/Location/Index");
            }
            else
            {
                mensaje = "Ocurrió un error al intentar guardar la ubicación.";
            }
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
    }
}