@page "/Location/Edit/{LocationId:int}"
@attribute [Authorize(Roles = "Admin, ProductionManager")]

@inject NavigationManager navigationManager
@inject ToastService toastService
@inject LocationService locationService
@rendermode InteractiveServer

<PageTitle>Editar Ubicación</PageTitle>

<Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

@if (location == null)
{
    <div class="location-edit-container">
        <p>Cargando...</p>
    </div>
}
else
{
    <div class="location-edit-container">

        <!-- HEADER -->
        <div class="location-edit-header">
            <div>
                <h3>Editar Ubicación</h3>
                <span>Modificación de ubicación existente</span>
            </div>
        </div>

        <!-- FORM -->
        <div class="location-edit-form">
            <EditForm Model="location" OnValidSubmit="Guardar">
                <DataAnnotationsValidator />

                <div class="card shadow-lg">
                    <div class="card-body">

                        <!-- SECCIÓN -->
                        <h5 class="section-title">
                            <i class="bi bi-pin-map"></i> Información General
                        </h5>

                        <!-- NOMBRE -->
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Nombre</strong>
                            </label>

                            <InputText class="form-control"
                                       maxlength="50"
                                       @bind-Value="location.Name" />

                            <ValidationMessage For="() => location.Name" />
                        </div>

                        <!-- COSTO -->
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Tarifa de Costo</strong>
                            </label>

                            <InputNumber class="form-control"
                                         @bind-Value="location.CostRate" />

                            <ValidationMessage For="() => location.CostRate" />
                        </div>

                        <!-- DISPONIBILIDAD -->
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Disponibilidad</strong>
                            </label>

                            <InputNumber class="form-control"
                                         @bind-Value="location.Availability" />

                            <ValidationMessage For="() => location.Availability" />
                        </div>

                        <!-- FECHA -->
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Última Modificación</strong>
                            </label>

                            <InputDate class="form-control"
                                       @bind-Value="location.ModifiedDate"
                                       disabled />

                            <ValidationMessage For="() => location.ModifiedDate" />
                        </div>

                        @if (!string.IsNullOrWhiteSpace(mensaje))
                        {
                            <div class="alert alert-danger mt-3">
                                @mensaje
                            </div>
                        }

                    </div>

                    <!-- FOOTER -->
                    <div class="card-footer text-center">

                        <a class="btn btn-secondary bi bi-arrow-left"
                               href="/Location/Index">
                            Volver
                        </a>

                        <button type="submit"
                                class="btn btn-primary bi bi-floppy">
                            Guardar
                        </button>

                        <button type="button"
                                class="btn btn-danger bi bi-trash"
                                @onclick="MostrarModalEliminar">
                            Eliminar
                        </button>

                    </div>
                </div>
            </EditForm>
        </div>
    </div>

    @if (mostrarModal)
    {
        <div class="location-edit-modal">
            <div class="alert alert-danger text-center shadow-sm">
                <p class="fw-bold mb-3">
                    ¿Desea eliminar esta ubicación de forma permanente?
                </p>

                <button class="btn btn-secondary me-2"
                        @onclick="CerrarModalEliminar">
                    Cancelar
                </button>

                <button class="btn btn-danger"
                        @onclick="EliminarConfirmado">
                    Sí, eliminar
                </button>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int LocationId { get; set; }

    private Location? location;
    private string mensaje = string.Empty;
    private bool mostrarModal = false;

    protected override async Task OnParametersSetAsync()
    {
        // Convertir int a short
        short id = Convert.ToInt16(LocationId);
        location = await locationService.Buscar(id);
    
        if (location == null)
        {
            mensaje = "Ubicación no encontrada";
        }
    }

    private async Task Guardar()
    {
        if (location == null) return;
        mensaje = string.Empty;

        var isDuplicated = await locationService.GetList(l =>
            l.Name.ToLower() == location.Name.ToLower() &&
            l.LocationId != location.LocationId
        );

        if (isDuplicated.Any())
        {
            mensaje = $"Ya existe otra ubicación registrada con el Nombre ({location.Name}).";
            return;
        }

        location.ModifiedDate = DateTime.Now;

        try
        {
            if (await locationService.Guardar(location))
            {
                toastService.ShowSuccess($"Ubicación {location.Name} actualizada correctamente.");
                navigationManager.NavigateTo("/Location/Index");
            }
            else
            {
                mensaje = "Ocurrió un error al intentar actualizar la ubicación.";
            }
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
    }

    private void MostrarModalEliminar()
    {
        mostrarModal = true;
    }

    private void CerrarModalEliminar()
    {
        mostrarModal = false;
    }

    private async Task EliminarConfirmado()
    {
        if (location == null) return;

        try
        {
            if (await locationService.Eliminar(location.LocationId))
            {
                toastService.ShowSuccess("Ubicación eliminada correctamente.");
                navigationManager.NavigateTo("/Location/Index");
            }
            else
            {
                mensaje = "Ocurrió un error al intentar eliminar la ubicación. Verifique si tiene dependencias asociadas.";
            }
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
        
        mostrarModal = false;
    }
}