@page "/Location/Create"
@attribute [Authorize(Roles = "Admin, ProductionManager")]

@inject NavigationManager navigationManager
@inject ToastService toastService
@inject LocationService locationService
@rendermode InteractiveServer

<PageTitle>Crear Ubicación</PageTitle>

<Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />

<div class="location-create-container">

    <!-- HEADER -->
    <div class="location-create-header">
        <div>
            <h3>Crear Ubicación</h3>
            <span>Registro de nuevas ubicaciones</span>
        </div>
    </div>

    <!-- FORM -->
    <div class="location-create-form">
        <EditForm Model="location" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- SECCIÓN -->
                    <h5 class="section-title">
                        <i class="bi bi-pin-map"></i> Información General
                    </h5>

                    <!-- ID -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>ID de Ubicación</strong>
                        </label>

                        <InputNumber class="form-control"
                                     @bind-Value="location.LocationId" />

                        <ValidationMessage For="() => location.LocationId" />
                    </div>

                    <!-- NOMBRE -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Nombre</strong>
                        </label>

                        <InputText class="form-control"
                                   maxlength="50"
                                   @bind-Value="location.Name" />

                        <ValidationMessage For="() => location.Name" />
                    </div>

                    <!-- COSTO -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Tarifa de Costo</strong>
                        </label>

                        <InputNumber class="form-control"
                                     @bind-Value="location.CostRate" />

                        <ValidationMessage For="() => location.CostRate" />
                    </div>

                    <!-- DISPONIBILIDAD -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Disponibilidad</strong>
                        </label>

                        <InputNumber class="form-control"
                                     @bind-Value="location.Availability" />

                        <ValidationMessage For="() => location.Availability" />
                    </div>

                    <!-- FECHA -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Fecha de Modificación</strong>
                        </label>

                        <InputDate class="form-control"
                                   @bind-Value="location.ModifiedDate" />

                        <ValidationMessage For="() => location.ModifiedDate" />
                    </div>

                    @if (!string.IsNullOrWhiteSpace(mensaje))
                    {
                        <div class="alert alert-danger">
                            @mensaje
                        </div>
                    }

                </div>

                <!-- FOOTER -->
                <div class="card-footer text-center">

                    <a class="btn btn-secondary bi bi-arrow-left"
                           href="/Location/Index">
                        Volver
                    </a>

                    <button type="submit"
                            class="btn btn-primary bi bi-floppy">
                        Guardar
                    </button>

                </div>
            </div>
        </EditForm>
    </div>

</div>
@code {
    private Location location { get; set; } = new();
    private string mensaje = string.Empty;

    protected override void OnInitialized()
    {
        location.ModifiedDate = DateTime.Now;
    }

    private async Task Guardar()
    {
        mensaje = string.Empty;

        var isDuplicated = await locationService.GetList(l => l.Name.ToLower() == location.Name.ToLower());

        if (isDuplicated.Any())
        {
            mensaje = $"Ya existe una ubicación registrada con el Nombre ({location.Name}).";
            return;
        }

        location.ModifiedDate = DateTime.Now;

        try
        {
            if (await locationService.Guardar(location))
            {
                toastService.ShowSuccess($"Ubicación {location.Name} guardada correctamente.");
                navigationManager.NavigateTo("/Location/Index");
            }
            else
            {
                mensaje = "Ocurrió un error al intentar guardar la ubicación.";
            }
        }
        catch (Exception ex)
        {
            mensaje = ex.Message;
        }
    }
}