@page "/Store/Edit/{Id:int}"
@attribute [Authorize(Roles = "ProductionManager, Admin")]
@using Microsoft.EntityFrameworkCore;
@using AdventureWorksDominicana.Data.Context;
@using AdventureWorksDominicana.Data.Models;

@inject StoreService storeService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@inject Contexto contexto

<div class="store-edit-container">

    <!-- HEADER -->
    <div class="store-edit-header">
        <div>
            <h3>Editar Store</h3>
            <span>Modificación de tienda existente</span>
        </div>
    </div>

    <!-- FORM -->
    <div class="store-edit-form">
        <EditForm Model="Store" FormName="editarStore" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- SECCIÓN -->
                    <h5 class="section-title">
                        <i class="bi bi-shop"></i> Información General
                    </h5>

                    <!-- ID -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>ID</strong>
                        </label>

                        <input class="form-control"
                               value="@Store.BusinessEntityId"
                               disabled />
                    </div>

                    <!-- NOMBRE -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Nombre</strong>
                        </label>

                        <input class="form-control"
                               type="text"
                               maxlength="50"
                               @bind-value="Store.Name"
                               placeholder="Escriba el nombre..." />

                        <ValidationMessage For="(() => Store.Name)" />
                    </div>

                    <!-- SALES PERSON -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Sales Person</strong>
                        </label>

                        <InputSelect class="form-select"
                                     @bind-Value="Store.SalesPersonId">
                            <option value="">Seleccione...</option>
                            <option value="">Ninguno</option>

                            @foreach (var sp in ListaSalesPerson)
                            {
                                <option value="@sp.BusinessEntityId">
                                    ID @sp.BusinessEntityId
                                </option>
                            }
                        </InputSelect>

                        <ValidationMessage For="(() => Store.SalesPersonId)" />
                    </div>

                    <!-- DEMOGRAPHICS -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong>Demographics (XML)</strong>
                        </label>

                        <textarea class="form-control textarea"
                                  rows="4"
                                  @bind="Store.Demographics"
                                      placeholder="Información demográfica (xml)">
                        </textarea>

                            <ValidationMessage For="(() => Store.Demographics)" />
                        </div>

                        <!-- FECHA -->
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Fecha de modificación</strong>
                            </label>

                            <input class="form-control"
                                   type="datetime-local"
                                   @bind-value="Store.ModifiedDate" />

                            <ValidationMessage For="(() => Store.ModifiedDate)" />
                        </div>

                    </div>

                    <!-- FOOTER -->
                    <div class="card-footer text-center">

                        <a class="btn btn-secondary bi bi-arrow-left"
                               href="/Store/Index">
                            Volver
                        </a>

                        <button class="btn btn-primary bi bi-floppy"
                                type="submit">
                            Guardar
                        </button>

                        <button class="btn btn-danger bi bi-trash"
                                type="button"
                                @onclick="Eliminar">
                            Eliminar
                        </button>

                    </div>
                </div>
            </EditForm>
        </div>
    </div>

@code {
    [Parameter]
    public int Id { get; set; }

    public Store Store { get; set; } = new Store();
    public List<SalesPerson> ListaSalesPerson { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var store = await storeService.Buscar(Id);
        if (store != null)
        {
            Store = store;
        }
        try
        {
            ListaSalesPerson = await contexto.SalesPeople.OrderBy(s => s.BusinessEntityId).ToListAsync();
        }
        catch (Exception)
        {
            toastService.ShowError("Ha ocurrido un error al cargar la lista de Sales Person.");
            ListaSalesPerson = new List<SalesPerson>();
        }
    }

    public async Task Guardar()
    {
        if (Store.SalesPersonId.HasValue && Store.SalesPersonId.Value > 0)
        {
            Store.SalesPerson = ListaSalesPerson.FirstOrDefault(sp => sp.BusinessEntityId == Store.SalesPersonId.Value);
        }
        else
        {
            toastService.ShowError("El campo sales person no puede estar vacío. Seleccione una opción válida");
            return;
        }

        Store.ModifiedDate = DateTime.Now;

        bool guardado = await storeService.Guardar(Store);
        if (guardado)
        {
            toastService.ShowSuccess("La tienda se ha guardado correctamente.");
            navigationManager.NavigateTo("/Store/Index");
        }
        else
        {
            toastService.ShowError("No se pudo guardar la tienda.");
        }
    }

    private async Task Eliminar()
    {
        try
        {
            var eliminado = await storeService.Eliminar(Store.BusinessEntityId);
            if (eliminado)
            {
                toastService.ShowSuccess("La tienda ha sido eliminada con éxito.");
                navigationManager.NavigateTo("/Store/Index");
            }
            else
            {
                toastService.ShowError("No se pudo eliminar la tienda.");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}