@page "/Vendor/Create";
@attribute [Authorize(Roles = "Admin, PurchasingManager")]

@inject VendorService vendorService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<EditForm Model="Vendor" FormName="FormularioVendor" OnSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h3>Crear Vendor</h3>
            </div>
            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label"><strong>Nombre</strong></label>
                    <input class="form-control" type="text" @bind-value="Vendor.Name" />
                    <ValidationMessage For="(() => Vendor.Name)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Número de Cuenta</strong></label>
                    <input class="form-control" type="text" @bind-value="Vendor.AccountNumber" />
                    <ValidationMessage For="(() => Vendor.AccountNumber)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Credit Rating (1-5)</strong></label>
                    <input class="form-control" type="number" min="1" max="5" @bind-value="Vendor.CreditRating" />
                    <ValidationMessage For="(() => Vendor.CreditRating)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Preferido</strong></label>
                    <input type="checkbox" @bind="Vendor.PreferredVendorStatus" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Activo</strong></label>
                    <input type="checkbox" @bind="Vendor.ActiveFlag" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>URL</strong></label>
                    <input class="form-control" type="text" @bind-value="Vendor.PurchasingWebServiceUrl" />
                    <ValidationMessage For="(() => Vendor.PurchasingWebServiceUrl)" />
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de modificación</strong></label>
                    <input class="form-control" type="datetime-local" @bind-value="Vendor.ModifiedDate" disabled />
                    <ValidationMessage For="(() => Vendor.ModifiedDate)" />
                </div>

            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/Vendor/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy" type="submit"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>



@code {
    public Vendor Vendor { get; set; } = new Vendor();

    protected override async Task OnInitializedAsync()
    {
        Vendor.ModifiedDate = DateTime.Now;
        Vendor.ActiveFlag = true;
    }

    public async Task Guardar()
    {
        try{
            if (Vendor.AccountNumber.IsWhiteSpace() || Vendor.Name.IsWhiteSpace() || Vendor.PurchasingWebServiceUrl.IsWhiteSpace())
            {
                toastService.ShowWarning("Todos los campos deben estar llenos, por favor revise y vuelva a intentar.");
                return;
            }

            bool guardado = await vendorService.Guardar(Vendor);

            if (guardado)
            {
                toastService.ShowSuccess("El vendor fue creado exitosamente.");
                navigationManager.NavigateTo("/Vendor/Index");
            }
            else
            {
                toastService.ShowError("Ha ocurrido un error al guardar el vendor.");
            }
        }catch(Exception e){
            toastService.ShowError("Ha ocurrido un error inesperado. Por favor, revise los campos e intente de nuevo.");
            Console.WriteLine(e.Message);
        }
        
    }
}