@page "/ContactType/Create";

@inject ContactTypeService contactTypeService;
@inject ToastService toastService;
@inject NavigationManager navigationManager;
@rendermode InteractiveServer

<EditForm Model="ContactType" FormName="crearContactType" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h3>Crear ContactType</h3>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label"><strong>Nombre</strong></label>
                    <input class="form-control" type="text" maxlength="50" @bind-value="ContactType.Name" placeholder="Escriba el nombre..." />
                    <ValidationMessage For="(() => ContactType.Name)" />
                </div>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-secondary bi bi-arrow-left" href="/ContactType/Index"> Volver</a>
                <button class="btn btn-primary bi bi-floppy"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public ContactType ContactType { get; set; } = new ContactType();

    protected override async Task OnInitializedAsync()
    {
        ContactType.ModifiedDate = DateTime.Now;
    }

    public async Task Guardar()
    {
        bool esRepetido = await contactTypeService.BuscarDuplicado(ContactType.Name, ContactType.ContactTypeId);
        if (esRepetido)
        {
            toastService.ShowWarning("El nombre \"" + ContactType.Name + "\" ya esta en uso");
            return;
        }
        bool guardado = await contactTypeService.Guardar(ContactType);
        if (guardado)
        {
            toastService.ShowSuccess("Se ha guardado el tipo de contacto correctamente.");
            navigationManager.NavigateTo("/ContactType/Index");
        }
        else
        {
            toastService.ShowError("Ha ocurrido un error al guardar el tipo de contacto.");
        }
    }
}
