@inherits LayoutComponentBase

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #f4f6f9;">
    <main class="w-100" style="max-width: 500px;">
        @Body
    </main>
</div>
