<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdventureWorksDominicana.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Product/Index" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CountryRegions/Index" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Country Regions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Department/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Departments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Currency/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Currency
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ContactType/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Contact Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ShipMethods">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ship Methods
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Vendor/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vendors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductCategory/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product Category
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductDescription/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Product Description
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PhoneNumberType/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Phone Number Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SalesTerritory/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sales Territories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ShoppingCartItem/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shopping Cart Item
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Employee/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
    </nav>
</div>

