@rendermode InteractiveServer

<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="d-flex align-items-center" href="/Home/Page">
            <img src="logo-long.svg" class="img-fluid" />
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        @* ========== HOME MODULE ========== *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Home/Page" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> <small>Home</small>
            </NavLink>
        </div>

        @* ---------- Vista de ADMIN ---------- *@

        <AuthorizeView Roles="Admin">
            <Authorized>
                @* ========== SALES MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionSales">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSales">
                                <span class="bi bi-cart-fill-nav-menu"></span> <small>Sales</small>
                            </button>
                        </div>
                        <div id="collapseSales" class="accordion-collapse collapse" data-bs-parent="#accordionSales">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/Sales">
                                        <span class="bi bi-receipt-nav-menu"></span> <small>Sales</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/SalesTerritory/Index">
                                        <span class="bi bi-map-fill-nav-menu"></span> <small>Sales Territories</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Currency/Index">
                                        <span class="bi bi-currency-dollar-nav-menu"></span> <small>Currencies</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/CurrencyRate/Index">
                                        <span class="bi bi-currency-exchange-nav-menu"></span> <small>Currencies Rates</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Customer/Index">
                                        <span class="bi bi-people-nav-menu" aria-hidden="true"></span> <small>Customers</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/TransactionHistory/Index">
                                        <span class="bi bi-clock-history-nav-menu"></span> <small>Transactions Histories</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ========== PRODUCTS MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionProducts">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProducts">
                                <span class="bi bi-bicycle-nav-menu"></span> <small>Products</small>
                            </button>
                        </div>
                        <div id="collapseProducts" class="accordion-collapse collapse" data-bs-parent="#accordionProducts">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/Product/Index">
                                        <span class="bi bi-box-seam-nav-menu"></span> <small>Products</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/ProductCategory/Index">
                                        <span class="bi bi-folder-nav-menu"></span> <small>Categories</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/ProductVendor/Index">
                                        <span class="bi bi-people-nav-menu"></span> <small>Product for vendor</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/ProductDescription/Index">
                                        <span class="bi bi-file-text-nav-menu"></span> <small>Descriptions</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Culture/Index">
                                        <span class="bi bi-translate-nav-menu"></span> <small>Cultures</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/SpecialOffer/Index">
                                        <span class="bi bi-percent-nav-menu"></span> <small>Special Offers</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/UnitMeasure/Index">
                                        <span class="bi bi-rulers-nav-menu"></span> <small>Unit Measures</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* ========== INVENTORY & WAREHOUSE MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionInventory">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInventory">
                                <span class="bi bi-boxes-nav-menu"></span> <small>Inventory</small>
                            </button>
                        </div>
                        <div id="collapseInventory" class="accordion-collapse collapse" data-bs-parent="#accordionInventory">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/Location/Index">
                                        <span class="bi bi-pin-map-nav-menu"></span> <small>Locations</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Product/Inventory">
                                        <span class="bi bi-inboxes-fill-nav-menu"></span> <small class="ms-2">Inventory</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Store/Index">
                                        <span class="bi bi-shop-fill-nav-menu" aria-hidden="true"></span> <small>Store</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ========== GEOGRAPHY MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionGeography">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeography">
                                <span class="bi bi-globe-americas-nav-menu"></span> <small>Geography</small>
                            </button>
                        </div>
                        <div id="collapseGeography" class="accordion-collapse collapse" data-bs-parent="#accordionGeography">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/CountryRegions/Index">
                                        <span class="bi bi-flag-fill-nav-menu"></span> <small>Countries/Regions</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/StateProvince/Index">
                                        <span class="bi bi-building-fill-nav-menu"></span> <small>States/Provinces</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ========== HUMAN RESOURCES MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionHR">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHR">
                                <span class="bi bi-people-fill-nav-menu"></span> <small>Human Resources</small>
                            </button>
                        </div>
                        <div id="collapseHR" class="accordion-collapse collapse" data-bs-parent="#accordionHR">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/Employee/Index">
                                        <span class="bi bi-person-badge-nav-menu"></span> <small>Employees</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Department/Index">
                                        <span class="bi bi-building-nav-menu"></span> <small>Departments</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/Person/Index">
                                        <span class="bi bi-person-add-nav-menu"></span> <small>Person</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Shift/Index">
                                <span class="bi bi-clock-nav-menu"></span> <small>Shifts</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/Payroll/Index">
                                <span class="bi bi-cash-stack-nav-menu"></span> <small>Payroll</small>
                            </NavLink>
                        </div>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="/PayrollParameters/Index">
                                <span class="bi bi-gear-fill-nav-menu"></span> <small>Payroll Settings</small>
                            </NavLink>
                        </div>
                    </div>
                </div>

                @* ========== PURCHASING MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionPurchasing">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePurchasing">
                                <span class="bi bi-truck-nav-menu"></span> <small>Purchasing</small>
                            </button>
                        </div>
                        <div id="collapsePurchasing" class="accordion-collapse collapse" data-bs-parent="#accordionPurchasing">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/Vendor/Index">
                                        <span class="bi bi-shop-nav-menu"></span> <small>Vendors</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/ShipMethods">
                                        <span class="bi bi-send-plus-nav-menu"></span> <small>Ship Methods</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/PurchaseOrder/Index">
                                        <span class="bi bi-clipboard-plus-nav-menu"></span> <small>PurchaseOrder</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ========== CONFIGURATION MODULE ========== *@
                <div class="accordion px-3 nav-item" id="accordionConfig">
                    <div class="accordion-item bg-transparent border-0">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConfig">
                                <span class="bi bi-gear-fill-nav-menu"></span> <small>Configuration</small>
                            </button>
                        </div>
                        <div id="collapseConfig" class="accordion-collapse collapse" data-bs-parent="#accordionConfig">
                            <div class="accordion-body p-0 ps-3">
                                <div class="nav-item pt-2">
                                    <NavLink class="nav-link" href="/User/Index">
                                        <span class="bi bi-person-fill-gear-nav-menu"></span> <small>Users</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/PhoneNumberType/Index">
                                        <span class="bi bi-telephone-plus-nav-menu"></span> <small>Phone Number Types</small>
                                    </NavLink>
                                </div>
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/ContactType/Index">
                                        <span class="bi bi-person-lines-fill-nav-menu"></span> <small>Contact Types</small>
                                    </NavLink>
                                </div>
                                
                                <div class="nav-item">
                                    <NavLink class="nav-link" href="/PaymentsMethods">
                                        <span class="bi bi-credit-card-nav-menu" aria-hidden="true"></span> <small>Payments Methods</small>
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/MyAccount">
                        <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> <small>My Account</small>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @* ---------- Vista de Customer ---------- *@

        <AuthorizeView Roles="Customer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Sales">
                        <span class="bi bi-cart-fill-nav-menu"></span> <small>Sales</small>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/PaymentsMethods">
                        <span class="bi bi-credit-card-nav-menu" aria-hidden="true"></span> <small>Payments Methods</small>
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/MyAccount">
                        <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> <small>My Account</small>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        @* ---------- Vista de (inserte rol) ---------- *@

        <AuthorizeView Roles="inserte rol">
            <Authorized>

            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="Account/Login" />

                        <button type="submit" class="nav-link ">
                            <div><span class="bi bi-box-arrow-right" aria-hidden="true"></span></div> <small>Salir</small>
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> <small>Register</small>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> <small>Login</small>
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

       


        
